div{
    background-color: blue;
}
p{
    background-color: orange;
}
div.first{
    opacity: 0.1;
}
div.second{
    opacity: 0.3;
}
div.third{
    opacity: 0.6;
}
div.back{
    color:blue;
    background-image:url(./back.jpg);
}
body{
    background-image:url("https://images.unsplash.com/photo-1533558293735-949ef6ba2c3a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDB8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-attachment: scroll;  
}
/* background shorthand */
body{
    background: url("https://images.unsplash.com/photo-1533558293735-949ef6ba2c3a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDB8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60") no-repeat fixed left bottom;
}