div{
    border: 1px solid gray;
    padding: 8px    ;
}
h1{
    text-align: center;
    color: gray ;
    text-transform:uppercase;
    text-shadow: 2px 2px red;  
}
p{
    text-align: justify;
    letter-spacing: 3px;
    color:black;
}
h2{
    text-align: center;
    color: aqua;
    text-shadow: 2px 2px 5px black;
}